[Unit]
Description=Symlink A partition to a generic name
After=systemd

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'systemctl mask systemd-journald'
ExecStart=/bin/bash -c 'systemctl mask systemd-resolved'
ExecStart=/bin/bash -c 'systemctl mask systemd-timesyncd'
ExecStart=/bin/bash -c 'systemctl mask mask-hanging'

[Install]
WantedBy=multi-user.target
