#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	gcc -o usr/bin/getepoch src/getepoch.c -lcurl

override_dh_installsystemd:
	dh_installsystemd -padaptation-xiaomi-violet-configs --name=getepoch getepoch.service --no-start
